# Игнорировать все файлы и папки в корне проекта, кроме папок lab2 и workCSV
/*
!/lab2/
!/workCSV/

# Исключить все файлы и папки внутри папки lab2, кроме workCSV
/lab2/*
!/lab2/workCSV/

# За исключением вложенных папок и файлов в workCSV
!/lab2/workCSV/**
